@charset "UTF-8";
html {
  font-size: 14px;
  font-family: "Roboto", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", sans-serif;
  height: 100%; }

code,
kbd,
pre,
samp {
  font-family: "Source Code Pro", Menlo, Consolas, Inconsolata, Monaco, "Courier New", sans-serif;
  font-size: 1em; }

body {
  background-color: white;
  position: relative;
  min-height: 100%;
  padding-bottom: 80px; }

.inscroll {
  opacity: 0.7; }

header nav {
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }
  header nav:hover {
    opacity: 1; }
  header nav .nav-logo:hover {
    background-color: #1565c0; }

.nav-logo {
  font-size: 2rem; }

.basic-panel, #page-nav, article {
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0px 0px 6px grey;
  background-color: rgba(250, 250, 250, 0.9); }

.article-brief {
  width: 80%;
  display: inline-block;
  margin-left: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
  /*overflow: scroll;*/ }
  .article-brief .blog-tags-container a:hover {
    color: #ff6f00; }
  .article-brief .blog-categories-container a:hover {
    color: #ff6f00; }

.read-more {
  margin-top: 10px;
  font-size: 1.1em; }
  .read-more a {
    color: grey; }
  .read-more a:hover {
    color: #ff6f00; }

.container {
  /*min-height: 1000px;*/ }

.article-meta {
  width: 15%;
  margin-left: 5%;
  position: absolute;
  top: 29%; }

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: black;
  height: 80px; }
  footer p {
    font-size: 0.8em;
    margin-left: 15px;
    color: white; }
  footer .footer-link {
    margin-left: 15px;
    margin-bottom: 0px; }
    footer .footer-link a {
      margin: 5px;
      margin-bottom: 0px;
      color: white; }
      footer .footer-link a:nth-child(1) {
        margin-left: 0; }
      footer .footer-link a:hover {
        color: #42a5f5; }
    footer .footer-link i {
      margin-top: 10px; }
    footer .footer-link img {
      /*margin: 15px;*/
      margin-top: 25px;
      margin-bottom: 0;
      color: white;
      width: 40px;
      height: 40px; }

.footer-ps a:hover {
  color: #ff6f00; }

.material-icons {
  vertical-align: middle; }

.blog-tags-container .material-icons {
  color: #424242; }

.blog-categories-container .material-icons {
  color: #424242; }

#page-nav {
  /*position: relative;*/
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  color: gray; }
  #page-nav:hover {
    background-color: white; }
  #page-nav > * {
    display: inline-block;
    padding: 10px 15px; }
    #page-nav > *:first-child {
      margin-left: 5%; }
    #page-nav > *:last-child {
      margin-right: 5%; }
  #page-nav a {
    color: grey; }
    #page-nav a:hover {
      color: white;
      background-color: grey; }
  #page-nav:before {
    content: "";
    display: table; }
  #page-nav:after {
    clear: both; }
  #page-nav .next {
    float: right; }
  #page-nav .prev {
    float: left; }
  #page-nav .current {
    color: #1565c0; }

article {
  position: relative;
  padding-right: 8px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  article:hover {
    background-color: white; }
  article.article-full {
    background-color: rgba(250, 250, 250, 0.96);
    padding: 20px;
    /*    h2 {color: #00838f}*/
    /*h3 {color: #00838f}*/
    /*h4 {color: #0097a7}*/
    /*h5 {color: #0097a7}*/
    /*h6 {color: grey}*/ }
    article.article-full .blog-item-meta {
      line-height: 1.5;
      color: grey; }
    article.article-full .blog-item-title {
      font-size: 3rem; }
      article.article-full .blog-item-title a:hover {
        color: #039be5; }
    article.article-full h1, article.article-full h2, article.article-full h3, article.article-full h4, article.article-full h5, article.article-full h6 {
      color: #006064; }
    article.article-full h1 {
      font-size: 3rem; }
    article.article-full h2 {
      font-size: 2rem; }
    article.article-full h3 {
      font-size: 1.5rem; }
    article.article-full h4 {
      font-size: 1.2rem; }
    article.article-full h5 {
      font-size: 1rem; }
    article.article-full h6 {
      font-size: 1rem; }
    article.article-full img {
      max-width: 75%;
      min-width: 30%;
      margin: auto;
      display: block;
      height: auto; }
    article.article-full pre {
      opacity: 0.85; }
    article.article-full span.image-caption {
      color: grey;
      margin-top: 0.5rem;
      font-size: 0.8rem;
      display: block;
      text-align: center; }
    article.article-full *:not(pre) > code {
      color: green;
      /*color: #ec407a;*/
      /*background-color: #ede7f6;*/ }
    article.article-full blockquote {
      border-left-color: #80d8ff;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-style: italic;
      background-color: rgba(236, 239, 241, 0.8);
      line-height: 1.2rem; }
    article.article-full a:hover {
      color: #ff6f00; }
    article.article-full strong {
      color: #7b1fa2; }
  article.list {
    padding: 1rem; }
    article.list li {
      line-height: 2rem; }
    article.list span {
      display: inline-block;
      padding: 0 1em; }
  article.tag-item {
    margin-bottom: 0;
    padding: 15px; }

/*#dsq-content #dsq-comments .dsq-comment-body {
    font-family: "Roboto", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", sans-serif;
}*/

/*# sourceMappingURL=style.css.map */
